{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'donation/css/donation.css' %}">
{% endblock extra_css %}
{% block content %}
<h2 class="text-center">Stripe</h2>
{{key}}
<div id="container">
    <div class="column-6">
        <div id="left-wrapper">
            <img id="profile-pic" src="{% static 'images/niu.png' %}">
            <div id="left-wrapper-header">
                <h3>Buy Us Coffee?</h3>
                <h5>One Time Donation</h5>
            </div>
            <div style="clear:left"></div>
            <hr>
            <!-- Add form here -->
            <form action="" method="post" id="payment-form">
                {% csrf_token %}
                <div class="form-field-12">
                    <label for="amount">Choose Amount:</label>
                    <br>
                    <br>
                    <select required name="amount" id="amount">
                      <option selected value="5">$5 --- Here's a coffee, on me :)</option>
                      <option value="10">$10 --- You helped me, so I am going to help you</option>
                      <option value="25">$25 --- I love your channel!</option>
                    </select>
                </div>

                <div class="form-field-6">
                    <input required type="text" name="email" placeholder="email...">
                </div>

                <div class="form-field-6">
                    <input required type="text" name="nickname" placeholder="Nickname...">
                </div>

              <div class="form-row">
                <label for="card-element">
                  Credit or debit card
                </label>
                <div id="card-element">
                  <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
              </div>
              
              <div style="clear:left"></div>
              <hr>

                 <input  class="myButton" style="background-color:#10a195" type="submit" value="Submit Payment" name="">

            </form>

        
        </div>
    </div>

    <div class="column-6">
        <div id="right-wrapper">

            <img class="coffee-cup" src="{% static 'images/Coffee5.png' %}">
            <img class="coffee-cup2" src="{% static 'images/Coffee10.png' %}">
            <img class="coffee-cup3" src="{% static 'images/Coffee25.png' %}">
            <h3>If I've provided you with value please consider supporting our efforts ;)</h3>
        </div>
    </div>
</div>



{% endblock content %}
{% block extra_js %}
<script src="{% static 'donation/js/donation.js' %}"></script>
{% endblock extra_js %}