{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'todo/css/todo.css' %}">
{% endblock extra_css %}
{% block content %}

<div class="container">

    <header class="text-center text-dark my-4">
      <h1 class="mb-4">Todo List</h1>
      <form class="search">
        <input class="form-control m-auto" type="text" name="search" placeholder="search todos" />
      </form>
    </header>

    <ul class="list-group todos mx-auto text-dark">
      
    </ul>

    <form class="add text-center my-4">
      <label class="text-dark">Add a new todo...</label>
      <input class="form-control m-auto" type="text" name="add" />
    </form>

  </div>



{% endblock content %}

{% block extra_js %}
<script src="{% static 'todo/js/todo.js' %}"></script>
{% endblock extra_js %}